body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__title {
  color: #212121;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .section__title {
    color: #212121;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
  }
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__text {
  color: #212121;
}

.logo__text--white {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

@media screen and (min-width: 480px) {
  .logo__text--white {
    font-size: 24px;
    line-height: 1.16;
  }
}

.page-header {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .page-header {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    width: 768px;
    margin: 0 auto;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .page-header__nav {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__nav {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 767px) {
  .site-nav__list {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .site-nav__list {
    margin-left: 88px;
  }
}

.site-nav__list-item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: #2196f3;
}

.site-nav__link:hover::after,
.site-nav__link:hover::after,
.site-nav__link:focus::after,
.site-nav__link:focus::after {
  opacity: 1;
  visibility: visible;
}

.site-nav__link--active {
  position: relative;
  display: block;
  color: #2196f3;
}

.site-nav__link--active::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  opacity: 1;
  border-radius: 4px;
  background-color: #2196f3;
}

.contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact-list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    display: block;
    margin-left: 84px;
    padding: 21px auto;
  }
}

.contact-list__item:not(:first-child) {
  margin-left: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__item:not(:first-child) {
    margin-left: 0;
  }
}

.contact-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list__link {
    padding: 0;
  }
}

.contact-list__link:first-child {
  margin-bottom: 10px;
}

.contact-list__link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
  background-color: #ffffff;
}

.contact-list__link:hover .contact-list__link-icon,
.contact-list__link:focus .contact-list__link-icon {
  fill: #2196f3;
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: #2196f3;
}

.contact-list__icon-email {
  width: 16px;
  height: 12px;
  fill: currentColor;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__icon-phone {
  width: 10px;
  height: 16px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button {
  background-color: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .menu-button__icon-menu {
  display: block;
}

.overlay {
  max-width: 1600px;
  max-height: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(47, 48, 58, 0.4)),
      to(rgba(47, 48, 58, 0.4))
    ),
    url(../images/hero_bg.jpg);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .overlay {
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero_mobile_bg.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_mobile_bg.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .overlay {
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        from(rgba(47, 48, 58, 0.4)),
        to(rgba(47, 48, 58, 0.4))
      ),
      url(../images/hero_tablet_bg.jpg);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero_tablet_bg.jpg);
  }
}

.button {
  font-family: inherit;
  cursor: pointer;
  border: 1px solid transparent;
}

.hero {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero {
    width: 480px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .hero {
      width: 768px;
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }

  .hero__title {
    color: #ffffff;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 1199px) {
    .hero__title {
      font-size: 26px;
      line-height: 1.6;
    }
  }

  .hero__button {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: #2196f3;
  }

  @media screen and (max-width: 767px) {
    .hero__button {
      max-width: 200px;
      width: 100%;
      font-size: 14px;
    }
  }

  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .features__list {
      display: block;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .features__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }

  .feature {
    width: 270px;
  }

  @media screen and (max-width: 767px) {
    .feature {
      width: 450px;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 30px;
    }
    .feature:last-child {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .feature {
      width: calc((100% - 30px) / 2);
    }
    .feature:nth-child(2n) {
      margin-left: 30px;
    }
    .feature:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  .feature::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f4fa;
  }

  .feature__icon-antenna::before {
    background-image: url(../images/hero-icon/antenna\ 1.svg);
    background-size: 65.32px 70px;
  }

  .feature__icon-clock::before {
    background-image: url(../images/hero-icon/clock\ 1.svg);
    background-size: 66.96px 70px;
  }

  .feature__icon-diagram::before {
    background-image: url(../images/hero-icon/diagram\ 1.svg);
    background-size: 70px 70px;
  }

  .feature__icon-astronaut::before {
    background-image: url(../images/hero-icon/astronaut\ 1.svg);
    background-size: 70px;
  }

  @media screen and (min-width: 1200px) {
    .feature:not(:first-child) {
      margin-left: 30px;
    }
  }

  .feature__title {
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 767px) {
    .feature__title {
      text-align: center;
    }
  }

  .feature__text {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0;
  }

  .examples {
    padding-top: 0;
  }

  @media screen and (max-width: 1199px) {
    .examples {
      display: none;
    }
  }

  .examples__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .example {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 0;
  }

  .example:not(:first-child) {
    margin-left: 30px;
  }

  .example__product-thumb {
    position: relative;
  }

  .example__product-actions {
    width: 100%;
    text-align: center;
    padding: 1.7rem;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .example__text {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #ffffff;
  }

  .employees {
    background-color: #f5f4fa;
    text-align: center;
  }

  .employees-cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .employees-cardset {
      display: block;
      width: 480px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .employees-cardset {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 768px;
      margin: 0 auto;
    }
  }

  .employee-card {
    background-color: #ffffff;
    width: calc((100% - 3 * 30px) / 4);
    padding-top: 0;
    padding-bottom: 30px;
    border-radius: 0px 0px 4px 4px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  @media screen and (max-width: 767px) {
    .employee-card {
      width: 450px;
    }
    .employee-card:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .employee-card {
      width: calc((100% - 60px) / 2);
    }
    .employee-card:nth-child(2n) {
      margin-left: 30px;
    }
    .employee-card:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .employee-card:not(:first-child) {
      margin-left: 30px;
    }
  }

  .employee-card__image {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    .employee-card__image {
      width: 450px;
      height: 460px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .employee-card__image {
      width: 100%;
      max-height: 374px;
    }
  }

  .employee-card__title {
    color: #212121;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .employee-card__text {
    font-size: 16px;
    line-height: 1.19;
    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
  }

  .social-cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 32px;
  }

  @media screen and (max-width: 767px) {
    .social-cardset {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .social-cardset {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-left: 0;
    }
  }

  .social-card:not(:first-child) {
    margin-left: 10px;
  }

  .social-card__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ffffff;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-card__link:hover,
  .social-card__link:focus {
    background-color: #2196f3;
  }

  .social-card__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-card__link:hover .social-card__icon,
  .social-card__link:focus .social-card__icon {
    fill: #ffffff;
  }

  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .customers__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 450px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .customers__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      width: 738px;
    }
  }

  @media screen and (max-width: 767px) {
    .customer {
      width: calc((100% - 30px) / 2);
      margin-bottom: 30px;
      padding: 0;
    }
    .customer:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    .customer:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .customer {
      width: calc((100% - 2 * 30px) / 3);
    }
    .customer:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    .customer:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    .customer:not(:first-child) {
      margin-left: 30px;
    }
  }

  .customer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 170px;
    height: 92px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    -webkit-transition-property: border;
    transition-property: border;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    .customer__link {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .customer__link {
      width: 100%;
    }
  }

  .customer__link:hover,
  .customer__link:focus {
    border: 1px solid #2196f3;
  }

  .customer__icon {
    fill: #afb1b8;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customer__link:hover .customer__icon,
  .customer__link:focus .customer__icon {
    fill: #2196f3;
  }

  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (max-width: 767px) {
    .page-footer {
      width: 480px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-footer {
      width: 768px;
      margin: 0 auto;
    }
  }

  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .page-footer__container {
      width: 100%;
      display: block;
      text-align: center;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-footer__container {
      width: 768px;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }

  .page-footer__logo {
    display: inline-block;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .page-footer__logo {
      display: block;
      text-align: center;
    }
  }

  .address__list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
  }

  @media screen and (max-width: 767px) {
    .address__list {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .address__list {
      text-align: center;
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 1200px) {
    .address__list {
      width: 231px;
    }
  }

  .address__list-item {
    margin-bottom: 9px;
  }

  .address__list-item:nth-last-child(-n + 1) {
    margin-bottom: 0;
  }

  .address__link {
    display: inline-block;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address__link-map {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address__link-map:hover,
  .address__link-map:focus {
    color: #2196f3;
  }

  .address__link:hover,
  .address__link:focus {
    color: #2196f3;
  }

  .footer-social {
    margin-left: 70px;
    padding-top: 12px;
  }

  @media screen and (max-width: 767px) {
    .footer-social {
      margin: 0 0 60px 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-social {
      margin-bottom: 60px;
      margin-left: 0;
    }
  }

  .footer-social__title {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-social__title {
      text-align: center;
    }
  }

  .footer-social__cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 0px;
  }

  @media screen and (max-width: 767px) {
    .footer-social__cardset {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }

  .footer-social__card:not(:first-child) {
    margin-left: 10px;
  }

  .footer-social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 44px;
    height: 44px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social__link:hover,
  .footer-social__link:focus {
    background-color: #2196f3;
  }

  .footer-social__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }

  .newsletter {
    margin-left: 93px;
    padding-top: 12px;
  }

  @media screen and (max-width: 767px) {
    .newsletter {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .newsletter {
      text-align: center;
      margin-left: 0;
    }
  }

  .newsletter__title {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .footer-form {
      display: block;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-form {
      display: block;
    }
  }

  .footer-form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    color: #ffffff;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
  }

  @media screen and (max-width: 1199px) {
    .footer-form__input {
      width: 450px;
      margin-bottom: 30px;
    }
  }

  .footer-form__input:active,
  .footer-form__input:focus-within,
  .footer-form__input {
    outline: none;
  }

  .footer-button {
    margin-left: 12px;
    min-width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 4px;
    padding: 10px 29px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: #2196f3;
  }

  @media screen and (max-width: 1199px) {
    .footer-button {
      margin: 0 auto;
    }
  }

  .footer-button__icon {
    margin-left: 10px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .categories-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 56px;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .categories-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: start;
      width: 430px;
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .categories-list {
      margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 767px) {
    .category:not(:nth-last-child(-n + 2)) {
      margin-bottom: 15px;
      margin-left: 8px;
    }
    .category:first-child {
      margin-left: 0;
    }
    .category:nth-last-child(-n + 1) {
      margin-left: 8px;
    }
  }

  @media screen and (min-width: 768px) {
    .category:not(:first-child) {
      margin-left: 8px;
    }
  }

  .category__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    transition-property: box-shadow, -webkit-box-shadow;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .category__button--active {
    background-color: #2196f3;
    color: #ffffff;
    min-width: 73px;
  }

  .category__button--secondary {
    background-color: #f5f4fa;
    color: #212121;
    min-width: 103px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .category__button--secondary:hover,
  .category__button--secondary:focus,
  .category__button--secondary:active {
    background-color: #2196f3;
    color: #ffffff;
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .category__button:hover,
  .category__button:focus {
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
      0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 767px) {
    .projects-list {
      display: block;
      width: 450px;
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .projects-list {
      width: 738px;
    }
  }

  .projects-list__item {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 30px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    .projects-list__item {
      width: 100%;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .projects-list__item {
      width: calc((100% - 30px) / 2);
    }
    .projects-list__item:not(:nth-child(2n)) {
      margin-right: 30px;
    }
    .projects-list__item:last-child {
      margin-bottom: 0;
    }
  }

  .projects-list__item:hover,
  .projects-list__item:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
      0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 1200px) {
    .projects-list__item:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    .projects-list__item:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  .product-thumb {
    position: relative;
    overflow: hidden;
  }

  @media screen and (max-width: 767px) {
    .product-thumb__image {
      width: 100%;
    }
  }

  .product-thumb::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .projects-list__item:hover .product-thumb::before,
  .projects-list__item:hover .product-thumb::before {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .product-actions {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 63px 24px;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media screen and (max-width: 767px) {
    .product-actions {
      padding: 91px 24px;
    }
  }

  .product-actions__text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.55;
    color: #ffffff;
  }

  .projects-list__item:hover .product-actions,
  .projects-list__item:focus .product-actions {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  .project {
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    background-color: #ffffff;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .project-one {
      padding-bottom: 56px;
    }
  }

  .project__title {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 0;
    margin-bottom: 4px;
  }

  .project__text {
    font-size: 16px;
    line-height: 1.88;
    margin: 0;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
  }

  @media screen and (max-width: 767px) {
    .backdrop {
      width: 480px;
    }
  }

  @media screen and (max-width: 1199px) {
    .backdrop {
      width: 768px;
    }
  }

  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .modal {
    padding: 40px;
    background-color: #ffffff;
  }

  @media screen and (max-width: 767px) {
    .modal {
      position: absolute;
      top: 0;
      left: 0;
      width: 450px;
      height: 609px;
      margin: 93px 15px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1);
      transform: translate(-50%, -50%) scale(1);
      -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      width: 450px;
      height: 609px;
    }
  }

  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__title {
    margin-top: 0;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.172;
    letter-spacing: 0.03em;
    color: #212121;
  }

  @media screen and (max-width: 1199px) {
    .modal__title {
      line-height: 1.5;
    }
  }

  .modal__submit-button {
    text-align: center;
  }

  .modal__form-button {
    min-width: 200px;
    height: 50px;
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: #2196f3;
  }

  .modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-button:hover,
  .modal-close-button:focus,
  .modal-close-button:active {
    background-color: #ffffff;
  }

  .modal-close-button__icon {
    margin: 0;
    width: 11px;
    height: 11px;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-button:hover .modal-close-button__icon,
  .modal-close-button:focus .modal-close-button__icon {
    fill: #2196f3;
  }

  .form-field {
    position: relative;
    margin-bottom: 10px;
  }

  .form-field__label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  .form-field__input {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    padding-right: 15px;
    color: #757575;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-field__input:hover,
  .form-field__input:focus-within,
  .form-field__input:active {
    border: 1px solid #2196f3;
    outline: none;
  }

  .form-field__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
  }

  .form-field__textarea::-webkit-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .form-field__textarea:-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .form-field__textarea::-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .form-field__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .form-field__link {
    margin-left: 6px;
    color: #2196f3;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
  }

  .form-field__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(30%);
    transform: translateY(30%);
    display: inline-block;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-field__icon-phone {
    width: 13px;
    height: 13px;
  }

  .form-field__icon-email {
    width: 15px;
    height: 12px;
  }

  .form-field__input:hover ~ .form-field__icon,
  .form-field__input:focus ~ .form-field__icon {
    fill: #2196f3;
  }

  .form-field__icon-checked {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid #000000;
    border-radius: 4px;
  }

  .form-field__checkbox:checked + .form-field__icon-checked {
    border: transparent;
    background-image: url(../images/icon\ check-2.svg);
    background-size: contain;
    background-origin: border-box;
  }

  .form-field__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .form-field__checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }

  @media screen and (max-width: 1199px) {
    .form-field__checkbox-label {
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.03em;
    }
  }

  .comment-field {
    margin-bottom: 20px;
  }

  .field-policy {
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    .mobile-backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 480px;
      height: 796px;
      opacity: 1;
      -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-backdrop__container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .mobile-backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .mobile-menu {
    position: relative;
    width: 480px;
    height: 100%;
    background-color: #ffffff;
    overflow-y: scroll;

    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    .mobile-menu {
      display: none;
    }
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-right: 15px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-button:hover,
  .mobile-menu-close-button:focus,
  .mobile-menu-close-button:active {
    background-color: #ffffff;
  }

  .mobile-menu-close-button__icon {
    margin: 0;
    width: 19px;
    height: 19px;
    fill: #000000;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-button:hover .mobile-menu-close-button__icon,
  .mobile-menu-close-button:focus .mobile-menu-close-button__icon {
    fill: #2196f3;
  }

  .mobile-menu-nav {
    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 83px;
  }

  .mobile-menu-nav__list-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu-nav__link {
    display: block;
    color: #212121;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-nav__link:hover,
  .mobile-menu-nav__link:focus {
    color: #2196f3;
  }

  .mobile-menu-nav__link--active {
    color: #2196f3;
  }

  .mobile-site-nav {
    display: block;
    margin-bottom: 306px;
  }

  .mobile-contact-list {
    margin-bottom: 64px;
  }

  .mobile-contact-list__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-contact-list__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-contact-list__link-email {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.172;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-contact-list__link-email:hover,
  .mobile-contact-list__link-email:focus {
    color: #2196f3;
  }

  .mobile-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mobile-social-list__item {
    padding: 0 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  .mobile-social-list__item:first-child {
    padding-left: 0;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    border-left: none;
  }

  .mobile-social-list__item:last-child {
    padding-right: 0;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  .mobile-social-list__link {
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
  }
  /*# sourceMappingURL=main.css.map */
}
