$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$background-black-color: #2f303a;
$background-body-color: #e5e5e5;
$background-secondary-color: #f5f4fa;
$header-bottom-border-color: #ececec;
$projects-list-border-color: #eeeeee;
$icon-grey-color: #afb1b8;
$icon-black-color: #000000;
$color-placeholder-input: rgba(117, 117, 117, 0.5);
$color-border-input: rgba(33, 33, 33, 0.2);
$color-border-footer-input: rgba(255, 255, 255, 0.3);
